In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
#initialise the number of weeks for the dataset
num_weeks = 1

#initialise the date for the first week of the dataset (week ending on start_date)
start_date = filedate = pd.Timestamp('2019-06-01 00:00:00')

#initialise the regex for the MTA turnstile url
filename_regex = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"

filelist = []

for numfiles in range (num_weeks):

    # create the appropriate filename for the week
    filedate_str = str(filedate.year)[2:4] + str(filedate.month).zfill(2) + str(filedate.day).zfill(2)
    filename = filename_regex.format(filedate_str)

    # read the file and append it to the list of files to be concacated
    #df = pd.read_csv(filename, parse_dates=['DATE'], keep_date_col=True)  
    df = pd.read_csv(filename, keep_date_col=True)
    filelist.append(df)

    # advance to the next week
    filedate += pd.Timedelta(days=7)

mta_df = pd.concat(filelist, axis=0, ignore_index=True)

In [3]:
mta_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,00:00:00,REGULAR,7071830,2396411
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,04:00:00,REGULAR,7071844,2396415
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,08:00:00,REGULAR,7071864,2396443
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,12:00:00,REGULAR,7071943,2396500
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,16:00:00,REGULAR,7072182,2396555

In [4]:
mta_df.dtypes

C/A                                                                     object
UNIT                                                                    object
SCP                                                                     object
STATION                                                                 object
LINENAME                                                                object
DIVISION                                                                object
DATE                                                                    object
TIME                                                                    object
DESC                                                                    object
ENTRIES                                                                  int64
EXITS                                                                    int64
dtype: object

In [5]:
import datetime
mta_df['TIME']= pd.to_datetime(mta_df['TIME'])

In [6]:
mta_df.dtypes

C/A                                                                             object
UNIT                                                                            object
SCP                                                                             object
STATION                                                                         object
LINENAME                                                                        object
DIVISION                                                                        object
DATE                                                                            object
TIME                                                                    datetime64[ns]
DESC                                                                            object
ENTRIES                                                                          int64
EXITS                                                                            int64
dtype: object

In [7]:
mta_df['DATE'] =  pd.to_datetime(mta_df['DATE'])
#mta_df[datetime.datetime.TIME]
#mta_df[DATE] +" "+ mta_df[TIME]

In [8]:
mta_df['DATE'][0:3]

0   2019-05-25
1   2019-05-25
2   2019-05-25
Name: DATE, dtype: datetime64[ns]

In [11]:
# date = Convert.ToDateTime(dTable.Rows[i][0]);
# time = Convert.ToDateTime(dTable.Rows[i][1]);
# newDateTime = new DateTime();

# newDateTime = date.Date + time.TimeOfDay;
# mta_df[DATE2] = mta_df["DATE"].combine(mta_df["TIME"])

#mta_df['Datetime'] = pd.to_datetime(  mta_df['DATE'].apply(str)+' '+mta_df['TIME'])
mta_df['Datetime'] = pd.to_datetime(df.DATE + df.TIME, format='%m/%d/%Y%H:%M:%S')

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,00:00:00,REGULAR,7071830,2396411
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,04:00:00,REGULAR,7071844,2396415
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,08:00:00,REGULAR,7071864,2396443
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,12:00:00,REGULAR,7071943,2396500
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/25/2019,16:00:00,REGULAR,7072182,2396555
...,...,...,...,...,...,...,...,...,...,...,...
203790,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/31/2019,09:00:00,REGULAR,5554,378
203791,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/31/2019,12:10:52,REGULAR,5554,378
203792,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/31/2019,13:00:00,REGULAR,5554,378
203793,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/31/2019,17:00:00,REGULAR,5554,378
203794,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/31/2019,21:00:00,REGULAR,5554,378

In [10]:
mta_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Datetime
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,2021-01-05 00:00:00,REGULAR,7071830,2396411,2019-05-25 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,2021-01-05 04:00:00,REGULAR,7071844,2396415,2019-05-25 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,2021-01-05 08:00:00,REGULAR,7071864,2396443,2019-05-25 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,2021-01-05 12:00:00,REGULAR,7071943,2396500,2019-05-25 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-05-25,2021-01-05 16:00:00,REGULAR,7072182,2396555,2019-05-25 16:00:00